.maincontent{
    margin: 50px;
}
.head{
    text-align: center;
}

.part{
        float: left;
        overflow: hidden;
        width: 28%;
        background-color: grey;
        margin-left: 20px;
        padding: 15px;
        border:3px solid black;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
        font: size 16px;
}

.title1{
    text-align: left;
    background-color: burlywood;
    margin-top: -18px;
    padding: 15px;
    width: 60px;
    
}
.title2{
    text-align: left;
    background-color: rgb(238, 90, 90);
    margin-top: -18px;
    padding: 15px;
    width: 80px;
    
}
.title3{
    text-align: left;
    background-color: rgb(154, 69, 194);
    margin-top: -18px;
    padding: 15px;
    width: 50px;
    
}


@media (min-width:992px) {
    .part{
        width: 28%;
    }
    
}
@media (min-width:768px) and (max-width:991px) {
    .part3{
            width: 90%;
            margin-top: 20px;
            padding-right: 20px;
    }
    .part2, .part1{
            width: 42%;
    }
    
}

@media (max-width:767px){
    .part{
        width: 100%;
        margin-bottom: 20px;
    }
}
